body {
    max-width: 800px;
    margin: 0 auto;
    padding: 50px 15px;
    background-color: rgb(156, 191, 191);
    
}
.mb-4{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.99rem; /* Это аналог 'text-xs' */
    font-weight: bold;  /* Это аналог 'font-bold' */
    color: transparent;  /* Это аналог 'text-transparent' */
    background-clip: text; /* Это аналог 'bg-clip-text' */
    background-image: linear-gradient(to right, #4338ca, #d63384); /* bg-gradient-to-r from-indigo-500 to-pink-600 */
   text-transform: uppercase; /* Это аналог 'uppercase' */
   margin-bottom: 0.125rem; /* Это аналог 'mb-0.5' */
}
.container{
   color: aliceblue;
   display: flex;
   justify-content: center;
   align-items: center;
   padding-top: 32px; /* pt-8 */
   padding-bottom: 24px; /* pb-6 */
}
.list-header {
    font-weight: 700;
}
.list-content {
    background-color: rgb(172, 205, 197);
}
.text{
    color: #d63384;
    font-size: 0.99rem; /* Это аналог 'text-xs' */
    font-weight: bold;  /* Это аналог 'font-bold' */
}

.fade-block {
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
     background: rgba(0, 0, 0, 0.7); /* Добавляем затемнение */
     display: flex;
     justify-content: center;
     align-items: center;

}
.modal-window {
    position: relative;
    background: white;
    padding: 20px;

}
.card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: aquamarine;
    border-bottom: 1px solid aqua;
}

.content-hidden {
    display: none;
}
.hidden {
    display: none;
}

[data-name], [data-tab] {
    cursor: pointer;
}


.product__modal{
   color: aliceblue;
   display: flex;
   justify-content: center;
   align-items: center;
   padding-top: 32px; /* pt-8 */
   padding-bottom: 24px; /* pb-6 */
}
